/* App.css */

/* Slide transition styles */
.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}


.uploadimagewrapper{
  padding: 20px 40px;
  border: 5px dashed rgb(68, 119, 215);
  border-radius: 15px;
  background-color:rgba(68, 119, 215, 0.468);
  margin-bottom: 5px;
}
.submitbutton{
  background-color:rgb(68, 119, 215) ;
}
.logo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
